
.innerSlide3 {
  position: relative;
}
.topImage {
  height: 100%;
  width: 100%;
  background:url(../img/slide4/fon.jpg) fixed no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio2_topimage {
  width: 100%;
  height: 100%;
  background:url(../img/portfolio1/fon2.jpg) fixed no-repeat;
  background-size: cover;
  position: relative;
    background-position: 50% 50%;
}

.discriptionInnerSlide3 {
  background-color: #a30933;
  opacity: .9;
  position: absolute;
 left: 20px;
 right: 20px;
 bottom: 0;
 background-size: cover;
background-position: 50% 50%;
}

.portfolio2_discriptionInnerSlide3 {
  background-color: rgba(82, 189, 182, 0.9);
}

.portfolio3_discriptionInnerSlide3 {
  background-color: rgba(252, 249, 248, 0.9);
}

.portfolio4_discriptionInnerSlide3{
  background-color: rgba(72, 67, 77, .9);
}

.portfolio6_discriptionInnerSlide3{
   background-color: rgba(130, 60, 29, .9);
}

.portfolio8_discriptionInnerSlide3{
   background-color: rgba(174, 149, 129, .9);
}

.portfolio9_discriptionInnerSlide3{
   background-color: rgba(194, 177, 163, .9);
}

.discriptionInnerSlide3_leftCorner {
  width: 200px;
  padding: 20px 0 0 20px;
  font-size: 15px;
  font-weight: bold;
}




.white {
color: #fff;
}


.discriptionInnerSlide3_center {
  position: absolute;
  width: 250px;
  left: 15.8%;
  top: 80px;
  font-size: 25px;
  font-weight: bold;
  background-size: cover;

}

.minGrundlov {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}

.minGrundlov2 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 40px;
}

.its_not {
 font-size: 30px;
  font-weight: 400;
  width: 70%;
  margin: auto;
  padding-top: 200px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.bold_li {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.discriptionInnerSlide3_right{
  font-size: 12px;
  width: 200px;
  position: absolute;
  top: 200px;
  right: 20px;
  color: #fff;
}
.discriptionInnerSlide3_right li{
  border-bottom: 1px solid #8B8378;
}
.innerSlide3_secondFoto {
width: 100%;
height: 100%;
background-size: cover;
background-position: 10%, 50%;

}

.forPosisionSwicher,
.firstImage {
  position: relative;
  height: 100%;
}
.wrapperForSwicher {
  position: absolute;
  right: 40px;
  top: 50%;
  width: 50px;
  height: 110px;
}
.innerSlide3_secondFoto_swicher,
.innerSlide3_secondFoto_swicher2 {
position: absolute;
right: 0;
transform: rotate(90deg);
z-index: 100;
}
.innerSlide3_secondFoto_swicher2 {
bottom: 0;
right: 0;
transform: rotate(90deg);
z-index: 100;
}

#f1, #f2, #f3, #f4, #f5, #f6{
  position: absolute;
  opacity: 0;
}
#f1 {
  position: absolute;
  opacity: 1;
}
#f1:target,
#f2:target,
#f3:target,
#f4:target,
#f5:target,
#f6:target  {
  opacity: 1;
  transition: 1s;
}


.portfolio_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio1/port_photo2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio_photo2{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio1/port2.album.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio_port2_footer{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio1/port2.footer.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* portfolio3*/

.portfolio3_topimage{
  height: 100%;
  background:url(../img/portfolio2/fon3.jpg) fixed no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}


.portfolio3_photo1{
  height: 100%;
  background:url(../img/portfolio2/port3_image2.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}


.portfolio3_port2_footer{
  height: 100%;
  background:url(../img/portfolio2/port3_footer.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

/* portfolio4*/

.portfolio4_topimage{
  height: 100%;
  background:url(../img/portfolio3/portfolio3_header.jpg) no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio4_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio3/portfolio3_second.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio4_photo2{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio3/portfolio3_third.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio4_photoLong{
  width: 100%;
  height: 260%;
  background-image:url("../img/portfolio3/portfolio3_4.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio4_footer{
 width: 100%;
  height: 260%;
  background-image:url("../img/portfolio3/portfolio3_4.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* portfolio5*/
.portfolio5_topimage{
  height: 100%;
  background:url(../img/portfolio4/portfolio5_header.jpg) fixed no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio5_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio4/portfolio5_first.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio5_photo2{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio4/portfolio5_second.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio5_photo3{
  width: 100%;
  height: 50%;
  background-image:url("../img/portfolio4/portfolio5_footer.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* portfolio6*/
.portfolio6_topimage{
  width: 100%;
  height: 100%;
  background-image:url(../img/portfolio5/portfolio6_header.jpg) fixed no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio6_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio5/portfolio6_photo1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio6_photo2{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio5/portfolio6_photo2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio6_photo3{
  width: 100%;
  height: 50%;
  background-image:url("../img/portfolio5/portfolio6_photo3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio6_footer{
  width: 100%;
  height: 50%;
  background-image:url("../img/portfolio5/portfolio6_footer.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio6_topimage{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio5/portfolio6_header.jpg");
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

/* portfolio7*/

.portfolio7_topimage{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio6/portfolio7_header.jpg");
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio7_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio6/portfolio7_photo1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio7_photo2{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio6/portfolio7_photo2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio7_footer{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio6/portfolio7_footer.jpg");
  background-size: cover;
  background-position: 50% 50%;
}


/* portfolio8*/

.portfolio8_topimage{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio7/portfolio7_1.png");
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio8_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio7/portfolio7_2.png");
  background-size: cover;
  background-position: 50% 50%;
}

.portfolio8_photo2{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio7/portfolio7_3.png");
  background-size: cover;
  background-position: 50% 50%;
}

/* portfolio9*/

.portfolio9_topimage{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio8/portfolio9_1.jpg");
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
}

.portfolio9_photo1{
  width: 100%;
  height: 100%;
  background-image:url("../img/portfolio8/soldiers9_2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


.discriptionInnerSlide3_center {
  position: absolute;
  width: 200px;
  left: 20px;
  top: 20px;
  font-size: 13px;
  font-weight: bold;
  background-size: cover;

}

.discriptionInnerSlide3_leftCorner {
  position: absolute;
  width: 200px;
  padding: auto;
  top: -5px;
  font-size: 14px;
  font-weight: bold;
}

.discriptionInnerSlide3_center_top {
position: absolute;
color: #fff;
font-size: 13px;
font-weight: bold;
display: block;
padding-bottom: auto;
top: 40px;
display: none;
}
.minGrundlov {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 80px;
}

.minGrundlov2 {
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-top: 70px;
}

.its_not {
 font-size: 12px;
  font-weight: 300;
  width: 80%;
  margin: auto;
  padding-top: 180px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.bold_li {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.discriptionInnerSlide3_right{
  font-size: 12px;
  width: 200px;
  position: absolute;
  top: 200px;
  right: 20px;
  color: #fff;
}





}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


}
