

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}*/



.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
  }
}

body {
	font-family: "HelveticaRegula", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}

div .content 
{
	position: relative;

}

  .screen{
    display: none;
  }

  .shown{
    display: block;
  }

ƒ
.content
{
 background-color: #cf1e16;
 background-image: url(../img/red_bacground.png);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top center;
 width: 100%;
 position: relative;
 overflow: hidden;
 padding-bottom: 2%;

}

.content_2
{
  background-color: rgb(180,179,174);
  background-image: none;

}

.scene
{
	position: absolute;
	top: 80%;
	margin-top: -25%;
	left: 80%;
	margin-left: -40%;
	width: 60%;

}

.scene2
{
    top: 0;
      margin-top: 0;
  left: 0;
  margin-left: 0;
    width: 100%;
}

.layer_tablet
{
	width: 75%;
	margin-left: 20%;
}

.layer_tablet_2
{
  background-image: url(../img/world_yours.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.layer_tablet_3
{
  background-image: url(../img/book.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.layer_tablet_4
{
  background-image: url(../img/potato_2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 110%;

}

.layer_tablet_5
{
  background-image: url(../img/himmelen_1.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.layer_tablet_6
{
  background-image: url(../img/skyfall.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.layer_tablet_7
{
  background-image: url(../img/vegan.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

}


.layer_tablet_8
{
  background-image: url(../img/chair.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.layer_tablet_9
{
  background-image: url(../img/allgreen.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;

}


.layer_hand
{
	width: 80%;
	margin-top: 30%;
	margin-left: -20%;
}

.layer_hand_2
{

  background-image: url(../img/brokenglass.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.tablet_5
{
  background-image: url(../img/birds.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 60%;
  height: 50%;

}

.tablet_6
{
  background-image: url(../img/skyfall_2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 90%;
  height: 100%;
}

.tablet_9
{
  background-image: url(../img/allgreen_2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
}




.container
{
	display: inline-block;
	width: 48%;
	min-height: 200px;
	position: relative;
	margin-left: 0.4%;
	margin-top: 0px;
  cursor: pointer;
}

.container_1
{
	height: 95%;
	margin-top: 20px;
	width: 99%;
	margin-left: 10px;
	position: relative;
	float: left;
}

.container_opacity
{
	background-color: rgb(228,33,23);
	opacity: 0.6;
	height: 100%;
	width: 100%;
	position: absolute;

}

.container_opacity_2
{
  background-color: rgb(180,179,174);

}

.container_opacity_3
{
  background-color:  #b61e48;
  opacity: .9;
}

.container_opacity_4
{
  background-color:  #dfc74d;
  opacity: 0.8;
}

.container_opacity_5
{
  background-color:  #395674;
  opacity: 0.8;
}

.container_opacity_6
{
  background-color:  #efefef;
  opacity: 0.8;
}

.container_opacity_7
{
  background-color:  #144a6b;
  opacity: 0.5;
}

.container_opacity_8
{
  background-color:  #ffd500;
  opacity: 0.5;
}

.container_opacity_9
{
  background-color:  #144a6b;
  opacity: 0.5;
}

.logo, .case
{
	display: inline-block;
	width: 48%;
	height: 100%;
	z-index: 1;
	position: relative;
	vertical-align: bottom;
  cursor: default;
}


.logo_img
{
	position: relative;
}

.logo_img_2
{
  position: relative;
}

.logo_img_2 img
{
  position: absolute;
  top: 20px;
  left: 45px;
  width: 110;
  display: none;
}

.logo_img img
{
	position: absolute;
	top: 20px;
	left: 45px;
  width: 110;
}



.slogan
{
  margin-bottom: 20px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 50%;
  border: none;
  background: rgba(237,157,16, 0.9);
  text-transform: uppercase;
  font-weight: 900;
  color: #e7e7e7;
}


.logo_text
{
  position: absolute;
  top: 160px;
  left: 15px;
  line-height: 1.8;
  border-radius: 5%;
  border: none;
  padding: 10px;
  text-align: center;
  width: 160px;
  background-color: #fff;
}

.logo_text .title
{
  background: rgba(190,190,190, 0.9);
  border-radius: 5%;
  border: none;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.logo_text .point_1
{
  background: rgba(116,191,237, 0.9);
  border-radius: 5%;
  border: none;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.logo_text .point_2
{
  background: rgba(0,192,156, 0.9);
  border-radius: 5%;
  border: none;
  margin-bottom: 5px;
  padding-left: 3px;
  padding-right: 3px;
}

.logo_text .point_3
{
  background: rgba(237,157,16, 0.9);
  border-radius: 5%;
  border: none;
  padding-left: 3px;
  padding-right: 3px;
}



.mailto, .telephone, .address
{
	position: absolute;
	bottom: 25px;
	left: 30px;
	font-size: 13px;
	color: #979797;
	text-decoration: none;
}

.address
{
  margin-bottom: 20px;
}

.telephone
{
  margin-bottom: 55px;
}




.case_moreinfo
{
position: absolute;
bottom: 0;
}

.title
{
	font-weight: 600;
	color: black;
	color: #4d110f;
}

.headline
{
	font-size: 25px;
	font-weight: 900;
	color: white;
	margin-top: 30px;
	color: #e8eaec;
}

.subheadline
{
	margin-top: 10px;
	font-size: 35px;
	font-weight: 900;
	color: #4d110f;
}


.portfolio_button
{
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}



.white_button
{
  width: 35px;
  height: 35px;
  background: white;
  margin-top: 20px;
  border-radius: 50%;
  float: left;
/*  transform: none;
  transition-property: none;*/
}

.dots
{
  margin-top: 2px;
  margin-left: 10px;
  font-size: 20px;
/*  transform: none;
  transition-property: none;*/
}

.more
{
  opacity: 0;
  margin-left: 20px;
 margin-top: 35px;
  font-size: 12px;
  font-weight: 900;
  color: #4d110f;
  float: left;
}

.case:hover .more
{
opacity: 1;
}

.description
{
  display: block;
  margin-top: 80px;
  font-size: 13px;
  line-height: 1.4;
  color: #4d110f;

}

.copyrait
{
	margin-top: 40px;
	margin-bottom: 15px;
	font-size: 11px;
	color: #4d110f;
}


















/*Кнопки для переключение слайдов*/

.top_button
{
  width: 50px;
  height: 50px;
  position: absolute;
  background: white;
  border-radius: 50%;
  bottom: 140px;
  right: 40px;
  background-image: url(../img/top_button.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.bottomn_button
{
  width: 50px;
  height: 50px;
  position: absolute;
  background: white;
  border-radius: 50%;
  bottom: 80px;
  right: 40px;
  background-image: url(../img/bottom_button.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


