/* reset browser styles */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* end reset browser styles */

@media (min-width:1000px) {
    body {
        margin: 0 auto;
        max-width: 1920px;
        min-width: 1000px;
        font-family: Helvetica, Arial;
    }
    .first_block {
        position: relative;
    }
    header {
        background-color: #3498db;
        color: #fff;
        height: 78px;
    }
    header p {
        font-size: 1.6rem;
        position: absolute;
        left: 50%;
        margin-left: -480px;
        margin-top: -3px;
    }
    header p:before {
        content: url(images/logo.png);
        position: relative;
        left: -15px;
        top: 17px;
    }
    header ul:before {
        content: "Connect:";
        font-size: 13px;
        position: relative;
        top: -5px;
    }
    header li {
        list-style: none;
        display: inline-block;
        padding-right: 2px;
    }
    header ul {
        position: absolute;
        left: 50%;
        margin-left: 337px;
        top: 30px;
    }
    .first_foto {
        color: #fff;
        background-image: url(images/main_foto.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 350px;
    }
    .first_foto .welcome {
        position: absolute;
        left: 50%;
        margin-left: -493px;
        top: 142px;
        font-size: 50px;
        font-weight: bold;
    }
    .first_foto .about {
        position: absolute;
        left: 50%;
        margin-left: -491px;
        top: 208px;
        line-height: 130%;
        font-size: 30px;
        width: 600px;
    }
    .form {
        position: absolute;
        width: 360px;
        height: 535px;
        left: 50%;
        margin-left: 135px;
        top: 108px;
        border-bottom: 5px solid #298DD0;
        background-color: #fff;
        color: #000;
    }
    .form .get_started {
        font-size: 25px;
        position: absolute;
        top: 25px;
        left: 91px;
    }
    /*здесь начинается форма*/
    form {
        position: absolute;
        left: 20px;
        top: 78px;
        width: 320px;
        height: 430px;
    }
    .form input,
    .form textarea {
        background-color: #f2f2f2;
        width: 320px;
        height: 36px;
        box-sizing: border-box;
        padding: 6px 0 10px 14px;
        word-spacing: .1em;
        margin-bottom: 10px;
        border: 1px solid #DFDFDF;
        line-height: 17px;
    }
    .form input:focus,
    .form textarea:focus {
        box-shadow: 0 0 2px 2px rgba(0, 0, 205, .9);
        outline: none;
    }
    .form textarea {
        height: 75px;
        resize: none;
    }
    .form textarea::-webkit-textarea-placeholder/*не работает*/
    ,
    .form input::-webkit-input-placeholder {
        font-size: 15px;
        color: #000;
    }
    .form textarea::-moz-placeholder/*не работает*/
    ,
    .form input::-moz-placeholder {
        color: #000;
        font-size: 15px;
    }
    .form input[type="submit"] {
        position: absolute;
        bottom: 2px;
        left: 53px;
        background-color: #e84c3d;
        color: #fff;
        width: 222px;
        height: 52px;
        box-sizing: border-box;
        padding: 7px 0 10px 5px;
        font-size: 25px;
        margin-bottom: 0;
    }
    .form input[type="submit"]:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, .8);
        cursor: pointer;
    }
    .choice {
        position: absolute;
        top: 13px;
        right: 10px;
        z-index: 1;
    }
    /*здесь заканчивается форма*/
    .notice {
        background-color: #f2f2f2;
        font-size: 13px;
        line-height: 150%;
        height: 250px;
        position: relative;
        z-index: -1;
    }
    .notice .abc {
        position: absolute;
        left: 50%;
        margin-left: -492px;
        top: 31px;
        font-size: 15px;
        font-weight: bold;
    }
    .notice p:first-of-type {
        position: absolute;
        left: 50%;
        margin-left: -492px;
        top: 65px;
        width: 580px;
    }
    .notice p:last-of-type {
        position: absolute;
        left: 50%;
        margin-left: -492px;
        top: 145px;
        width: 580px;
    }
    /*Дальше идет код для блока с тремя фотографиями*/
    .second_block {
        width: 100%;
        background-color: #fff;
        height: 500px;
    }
    .second_block > p {
        color: #3498db;
        font-size: 25px;
        position: absolute;
        left: 50%;
        margin-left: -493px;
        margin-top: 32px;
    }
    .first_column {
        position: absolute;
        left: 50%;
        margin-left: -493px;
        margin-top: 90px;
    }
    .second_column {
        position: absolute;
        left: 50%;
        margin-left: -143px;
        margin-top: 90px;
    }
    .third_column {
        position: absolute;
        left: 50%;
        margin-left: 205px;
        margin-top: 90px;
    }
    figcaption .row {
        font-size: 15px;
        font-weight: bold;
        padding: 19px 0 16px 59px;
    }
    figcaption .row2 {
        padding-left: 66px;
    }
    figcaption .row3 {
        padding-left: 56px;
    }
    figcaption .block {
        font-size: 13px;
        text-align: center;
        line-height: 150%;
        height: 120px;
        width: 285px;
        overflow: hidden;
        padding-left: 6px;
    }
    figcaption .block2,
    figcaption .block3 {
        padding-left: 0px;
        line-height: 154%;
    }
    .view {
        display: inline-block;
        position: relative;
        left: 118px;
        top: 22px;
        margin-bottom: 49px;
    }
    .view2 {
        left: 109px;
    }
    /*тут отзывы*/
    .third_block {
        width: 100%;
        background-color: #fff;
        position: relative;
        border-top: 1px solid #f2f2f2;
        height: 255px;
        margin-top: 33px;
    }
    .arrows {
        position: absolute;
        left: 50%;
        margin-left: 415px;
        top: 30px;
    }
    .third_block p:first-of-type {
        color: #3498db;
        font-size: 25px;
        position: absolute;
        left: 50%;
        margin-left: -490px;
        top: 33px;
    }
    .cite {
        position: absolute;
        left: 50%;
        margin-left: -492px;
        top: 118px;
        width: 730px;
        line-height: 150%;
        font-size: 13px;
    }
    .cite:before {
        content: url(images/start.png);
        position: absolute;
        left: 50%;
        margin-left: -367px;
        ;
        top: -38px;
    }
    .cite span {
        position: absolute;
        right: 6px;
        bottom: -33px;
        font-size: 14px;
        font-weight: bold;
    }
    .cite span:after {
        content: url(images/stop.png);
        position: absolute;
        top: 30px;
        right: 0px;
    }
    .dark {
        background-color: #f2f2f2;
        width: 100%;
        position: relative;
        height: 189px;
    }
    .man {
        position: absolute;
        left: 50%;
        margin-left: 242px;
        top: -175px;
    }
    .dark p {
        position: absolute;
        left: 50%;
        margin-left: -495px;
        top: 68px;
        padding: 15px 0px 15px 30px;
        color: #fff;
        background-color: #e74c3c;
        width: 540px;
        box-sizing: border-box;
        font-size: 25px;
    }
    .dark a {
        text-decoration: none;
    }
    .dark p:after {
        content: url(images/wright.png);
        position: absolute;
        top: 15px;
        right: 22px;
    }
    footer {
        background-color: #3598DB;
        height: 200px;
        color: #fff;
        font-size: 13px;
        position: relative;
    }
    footer .logo {
        width: 177px;
        font-size: 26px;
        line-height: 110%;
        position: absolute;
        left: 50%;
        margin-left: -415px;
        top: 55px;
    }
    footer .logo:before {
        content: url(images/bottomlogo.png);
        position: absolute;
        left: 50%;
        margin-left: -167px;
        top: -3px
    }
    .right {
        border-left: 1px solid #2980b9;
        height: 60px;
        width: 700px;
        position: absolute;
        left: 50%;
        margin-left: -240px;
        top: 55px;
    }
    .right ul:before {
        content: "Connect:";
        position: absolute;
        left: -40px;
        top: 2px;
    }
    .right li {
        list-style: none;
        display: inline-block;
        padding-right: 3px;
    }
    .right ul {
        position: absolute;
        left: 62px;
        top: 8px;
    }
    .right span {
        position: absolute;
        top: 36px;
        left: 22px;
    }
}
