/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end reset browser styles */




@media (min-width:320px) and (max-width:799px) {
body {
	margin: 0 auto;
	width: 320px;
    font-family: Helvetica, Arial;
}
.first_block {
	position: relative;
}
header {
	background-color: #3498db;
	color: #fff;
    height: 160px;
}   
header p {
	font-size: 20px;
    width: 175px;
	border-bottom: 1px solid #2980b9;
    padding: 76px 0 5px 5px;
    box-sizing: border-box;
    margin: 0 0 0 73px;
}
header p:before {
	content: url(images/logo.png);
	position: absolute;
	left: 131px;
	top: 16px;
}
header ul:before {
	content: "Connect:";
	font-size: 13px;
	position: relative;
	top: -6px;
    left: -2px;
}
header li {
	list-style: none;
	display: inline-block;
	padding-right: 2px;
}
header ul {
	position: absolute;
	right: 89px;
	top: 117px;
}
.first_foto {
	color: #fff;
	background-image: url(images/mobile_main_foto.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	max-height: 350px; 
}
.first_foto .welcome {
	font-size: 40px;
    font-weight: bold;
    padding: 30px 0 0 58px;
} 
.first_foto .about {
	font-size: 16px;
	width: 250px;
    line-height: 170%;
    padding: 5px 0 185px 40px;
    text-align: center;
}    
.form {
	position: absolute;
	height: 535px;
	width: 300px;
	left: 10px;
	top: 357px;
	border-bottom: 5px solid #298DD0;
	background-color: #fff;
	color: #000;
}   
.form .get_started{
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 80px;
}
 /*здесь начинается форма*/        
form {
    position: absolute;
    left: 20px;
    top: 78px;
    width: 260px;
    height: 430px;
}
.form input,
.form textarea {
    background-color: #f2f2f2;
    width: 260px;
    height: 36px;
    box-sizing: border-box;
    padding: 6px 0 10px 14px;
    word-spacing: .1em;
    margin-bottom: 10px;
    border: 1px solid #DFDFDF ;
    line-height: 17px;
}
.form input:focus,
.form textarea:focus {
    box-shadow: 0 0 2px 2px rgba(0,0,205,.9);
    outline: none; 
}
.form textarea{ 
    height: 75px;
    resize: none; 
}
.form textarea::-webkit-textarea-placeholder/*не работает*/ ,   
.form input::-webkit-input-placeholder {
    font-size: 15px;
    color: #000;
}
.form textarea::-moz-placeholder /*не работает*/,
.form input::-moz-placeholder{
    color: #000;
    font-size: 15px;
}
.form input[type="submit"]{
	position: absolute;
	bottom: 2px;
	left: 32px;
	background-color: #e84c3d;
	color: #fff;
    width: 202px;
    height: 52px;
    box-sizing: border-box;
	padding:7px 0 10px 5px;
	font-size: 20px;
    margin-bottom: 0;
}
.form input[type="submit"]:hover {
	box-shadow: 0 0 10px rgba(0,0,0,.8);
	cursor: pointer;
}
    .choice {
	position: absolute;
	top:13px;
	right: 10px;
    z-index: 1;
}    
/*здесь заканчивается форма*/   
.notice {
	background-color: #f2f2f2;
	font-size: 13px;
    line-height: 153%;
}   
.notice .abc{
    margin: 0;
	font-size: 15px;
    font-weight: bold;
    padding: 413px 0 14px 93px;
}
.notice p:first-of-type,
.notice p:last-of-type {
    padding: 0 0 21px 20px;
    text-align: center;
    width: 280px;
}
.notice p:last-of-type{
    padding-bottom: 34px;/*чтоб задать нижнюю границу блоку
    серого цвета*/
}
/*Дальше идет код для блока с тремя фотографиями*/ 
.second_block {
	position: relative;
	background-color: #fff;
}
.second_block > p{
	color: #3498db;
	font-size: 20px;
    padding: 30px 0 28px 62px;
} 
.first_column,
.second_column,
.third_column {
    margin: 0 0 0 15px;
    position: relative;
    -display: block;
}
figcaption .row,
figcaption .row2,
figcaption .row3  {
	font-size:15px;
    font-weight: bold;
    padding: 20px 0 15px 54px;
    width: 280px;
}
figcaption .row2{
    padding: 18px 0 15px 66px;
}
figcaption .block {
    padding: 0 0 0 4px;
    width: 280px;
	font-size: 13px;
	line-height: 155%;
	overflow: hidden;
    max-height: 120px;
    text-align: center;
}
figcaption .block span{
    display: inline-block;
    transform: none;/*это было надо для уменьшения переноса 
    в таблет варианте*/
    margin-left: -5px;
}
.view {
    display: block;
    position: relative;
    padding: 21px 0 35px 117px;
    margin: 0;
    top: -2px;
    left: 0;
}
    
figcaption .block2,
figcaption .block3 {
    padding-left: 3px;
    line-height: 154%;
}
    
.view2 {
    position: relative;
	top: 0;
    left: 0;
    padding-bottom: 27px;
}
.view3 {
    position: relative;
	top: 0;
    left: 0;
    padding-bottom: 42px;/*для отталкивания бордера .third_block*/
} 
   
/*тут отзывы*/
 .third_block {
    width: 280px;
	background-color: #fff;
	position: relative;
    margin: 0;
    border-top: 1px solid #f2f2f2;
}   
.arrows {
	position: absolute;
	right: 82px;
	top: 110px;
}    

.third_block p:first-of-type {
    width: 280px;
	color: #3498db;
	font-size: 20px;
    padding: 36px 0 0 15px;
    line-height: 150%;
    text-align: center;
}
.cite{
    width: 275px;
	position: relative;
	line-height: 150%;
    padding: 107px 0 80px 20px;
    font-size: 13px;
} 
.cite span{
	position: absolute;
	right: -5px;
	bottom: 45px;
	font-size: 13px;
    font-weight: bold;
}  
.cite:before {
	content: url(images/start.png);
	position: absolute;
	top: 75px;
} 
.cite span:after{
	content: url(images/stop.png);
	position: absolute;
	top: 22px;
	right: 0px;
}
.dark {
	background-color: #f2f2f2;
	width: 100%;
    margin-top: 105px;
    padding: 67px 0 174px 0;
    position: relative;
}
.man {
	position: absolute;
	right: 44px;
	top: -123px;
    z-index: 1;
}
.dark p{
	padding: 10px 20px 20px 30px;
    line-height: 160%;
	color: #fff;
	background-color: #e74c3c;
	width: 300px;
    height: 130px;
    text-align: center;
	box-sizing: border-box;
	position: absolute;
	font-size: 20px;
    left: 10px;
    top: 60px;
    z-index: 2;
}
.dark a {
	text-decoration: none;
}
.dark p:after{
	content: url(images/wright.png);
	position: absolute;
	top: 83px;
	right: 128px;
} 
footer{
	background-color: #3598DB;
	height: 310px;
	color: #fff;
	font-size: 13px;
    position: relative;
}
footer .logo{
	width: 200px;
	font-size: 20px;
    font-weight: normal;
    padding: 93px 0 7px 20px;
    margin-left: 57px;
	position: relative;
    box-sizing: border-box;
    border-bottom: 1px solid #2980b9;
}
footer .logo:before {
	content: url(images/bottom_mobile_logo.png);
	position: absolute;
	right: 71px;
	top: 32px;
}
.right ul {
	position: absolute;
	left: 75px;
	top: 133px;
}  
.right {
	position: absolute;
	border: none;
	height: 60px;
	width: 300px;
	left: 56px;
	top: 0px;
} 
.right ul:before {
	content: "Connect:";
	position: absolute;
    left: -40px;
    top: 2px;
}
.right li {
	list-style: none;
	display: inline-block;
	padding-right: 3px;
}

.right span{
	position: absolute;
    text-align: center;
	top: 194px;
	left: -27px;
     width: 250px;
    line-height: 130%;
}
}